@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html,body
{
	font-family: "Lora", serif;
}

.img-fluid
{
	max-width: 100%;
	height:auto;
}

#resume, #mayaThesis
{

	/*height:75vh;*/
}

#backgroundImg
{
	/*height: 100vh;*/
}

#banner{
	background-image: url('https://project-images-vs.s3.amazonaws.com/images/background-img.jpeg');
	height:100vh;
	background-position: center;
	background-size: cover;

}

.card-header
{
	background: linear-gradient(90deg,white,#d3d9f2);
}

.alert
{
	color:red;
}

a, .project-title, .nav-link
{
	color:#731e56;
}

a:hover
{
	color:#ab328d;
}

a:c

li
{
	list-style-type: circle;
}

.nav li
{
	list-style:none;
	color:#731e56;
}

.opened-page-link a, .active
{
	color:#ab328d;
}

.project
{
	background:radial-gradient(#fff 90% ,#ebc5e1 10%);
}

#lets-chat-video
{
	width:25vw;
}

.sm-device, .md-device{
	display: none;
}

@media screen and (max-width:650px){
	.sm-device{
		display:block;
	}
	.md-device, .lg-device{
		display: none;
	}
}

@media screen and (min-width:651px) and (max-width:1010px){
	.md-device{
		display:block;
	}
	.sm-device, .lg-device{
		display: none;
	}
}
  
