@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--bg-primary-color: #AB328D;
	--bg-secondary-color: #FBEFF7;
	--bg-tertiary-color:#f1e8f0;
	--text-secondary-color:#fff;
	--text-hover-color:#DB83BE;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-900 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


*{
	box-sizing: border-box;
}

html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

#introduction{
	height: 100vh;
}

#introduction > div{
	background-color: #F5EEEE;
}

#introduction > div > p{
	background-color: #E8D3D3;
}

hr{
	margin:0;
}

#skills ul li, .project-github-links{
	list-style: none;
}

#skills ul.short-list{
	width: 50%;
}

@media (min-width: 768px){
	#introduction > div{
		width:75%;
	}
	#skills ul.short-list,#skills ul.long-list{
		width: 100%;
	}
}

@media (min-width: 1200px){
	#introduction{
		background-color: #FFF;
	}
}

@media (prefers-color-scheme: dark){
	.dark-theme, .navbar{
		color:white;
		background-color: black;
	}
	.nav-link{
		color:white;
	}
	#introduction{
		background-color: black;
	}
	#introduction > div{
		background-color: #574646;
	}
	#introduction > div > p{
		background-color: #AF8C8C;
	}
}