@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,body
{
	font-family: "Montserrat", sans-serif;
}

.img-fluid
{
	max-width: 100%;
	height:auto;
}


.cover-photo{
	background-image: url('https://project-images-vs.s3.us-east-1.amazonaws.com/images/background-1.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
	width:100vw;
	height:100vh;
}

.card-header
{
	background: linear-gradient(90deg,white,#d3d9f2);
}

.alert
{
	color:red;
}

a, .project-title, .nav-link
{
	color:#731e56;
}

a:hover
{
	color:#ab328d;
}

a{
	text-decoration: underline;
	font-weight: 600;
}

li
{
	list-style-type: circle;
}

.nav li
{
	list-style:none;
	color:#731e56;
}

li > a, .card-text > a, .navbar a{
	text-decoration: none;
}

.opened-page-link a, .active
{
	color:#ab328d;
}

.project
{
	background:radial-gradient(#fff 90% ,#ebc5e1 10%);
}

#lets-chat-video
{
	width:25vw;
}

.embed-responsive, .embed-responsive-pdf{
	background-color: black;
	border-radius: 5px;
}
  
