html
{
	font-family: sans-serif;
}

input, textarea
{
	box-shadow: 5px 5px 5px #555;
}

.imagePost, .imagePost2
{
	height:300px;
}

.deleteFormPost, .deleteFormResponse
{
	background:inherit;
	box-shadow: none;
}

form#signOut
{
  background:inherit;
}

form
{
	overflow-x: hidden;
  /*	background: linear-gradient(#fff, #24093b); */
  background: url('../images/wood.jpg');
	box-shadow: 5px 5px 5px grey;
}

.options
{
	cursor:pointer;
}

.response
{
	display:none;
}

.post, .response
{
	box-shadow: 5px 5px 5px grey;
}

form a, #termsOfService, #hideTermsOfService
{
  color:#4f3209;
	font-weight:900;
}

#hello-user
{
	animation:animation1 10s infinite;
	-webkit-animation: animation1 10s infinite;
}
.editFormPost, .editFormResponse, .replyFormResponse, .replyFormPost
{
	display:none;
}

#title
{
	background:white;
}

#divider
{
	background:white;
}

form a:hover
{
	font-style: italic;
	text-decoration: underline;
}
.success
{
	color:green;
}
.error
{
	color:#801252;
}

button
{
	box-shadow: 5px 5px 5px grey;
  box-sizing: border-box;
}

#termsOfService
{
	display: none;
}

#termsOfServiceLink
{
	text-decoration:underline;
	cursor: pointer;
	font-weight: 900;
}

#reply
{
	color:#473219;
	text-decoration: underline;
}

#signOut
{
	background:#fff;
	border:none;
	box-shadow: none;
}

label, h1, h2, h3, h4, h5, h6
{
	font-weight:900;
}



@keyframes animation1
{
	0% {color: #fff;}
	50% {color: #000;}
}

@-webkit-keyframes animation1 /* Safari and Chrome */
{
	0% {color: #fff;}
	50% {color: #000;}
}
